:root {
  --margin-16: 16px;
  --margin-28: 28px;
  --margin-48: 48px;
  --margin-65: -65px;
  --padding-60: 60px;
  --font-18: 18px;
  --font-40: 40px;

  --dark-red: #cc0000;
  --black: #111111;
  --white: #ffffff;
  --font-nunito: 'Nunito', sans-serif;
  --font-serif: 'Source Serif Pro', serif;
}
.container{
  display: flex;
  justify-content: center;
}

.cards{
  display: flex;
  flex-direction: column;
  text-align:center;
}

.card {
  height: 110px;
  width: 110px;
  margin: 0 var(--margin-48) var(--margin-65) ;
  border: solid 2px;
  border-radius: 8px;
  font-size: var(--font-40);
  padding-top: var(--padding-60);
  background-color: var(--white);
  letter-spacing: 8px;
  box-shadow:   0 -0.5rem 2rem var(--black);
  cursor: pointer;
  font-family: var(--font-serif);
  
}

.card--♥, .card--♦{
  color: var(--dark-red);
}

.cards:hover{
  transition: all 1s;
  transform: scale(1.1);
}

.buttons{
  display: flex;
  justify-content: space-around;
  margin-bottom: var(--margin-16);
}

.buttons__button{
  width: 180px;
  height: 50px;
  border-radius: 30px;
  border: none;
  color: var(--white);
  font-family: var(--font);
  font-weight: 700;
  font-size: var(--normal-font-size);
  background-color: var(--black);
  letter-spacing: var(--letter-spacing);
  cursor: pointer;
}

.buttons__button:hover{
  border: solid 2px var(--white);
}

.title{
  color: var(--white);
  font-family: var(--font-nunito);
  text-align: center;
  margin-bottom: var(--margin-48);
}
